@font-face {
    font-family: 'iconfont';
    /* Project id 2896146 */
    src: url('//at.alicdn.com/t/font_2896146_fctizdnehe.woff2?t=1638521188778') format('woff2'), url('//at.alicdn.com/t/font_2896146_fctizdnehe.woff?t=1638521188778') format('woff'), url('//at.alicdn.com/t/font_2896146_fctizdnehe.ttf?t=1638521188778') format('truetype'), url('//at.alicdn.com/t/font_2896146_fctizdnehe.svg?t=1638521188778#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@import url('//at.alicdn.com/t/font_2896146_0v8n04gyfjwm.css');