body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

i {
    cursor: default;
}

a {
    text-decoration: none;
}


/*正常的未被访问过的链接*/

a:link {
    text-decoration: none;
}


/*已经访问过的链接*/

a:visited {
    text-decoration: none;
}


/*鼠标划过(停留)的链接*/

a:hover {
    text-decoration: none;
}


/* 正在点击的链接*/

a:active {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none
}